
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

body {
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-color: #3C3C3C;
  color: #DCDCDC;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;
}


#container {
   min-height: 100%;
   align-self: auto;
}

main {
    overflow: auto;
    padding-bottom: 50.5px;
    width: 100%;
    min-height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
}


#calculator-container {
    background-color: #262626;
    padding: 5px;
    border-width: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 20px palegreen;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}


#display-container {
    margin: 20px;
    color: black;
    background-color: springgreen;
    border-radius: 10px;
    border-color: black;
}

#equation-display {

    text-align: right;
    padding-right: 10px;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
}

#calculation-display {
    text-align: right;
    padding-right: 10px;
    line-height: 35px;
    height: 35px;
    margin-bottom: 5px;
    font-size: 30px;
}





.mode {
margin: 10px;
padding: 5px;
}


#calculatorGridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0;  
    height: 540px;
    width: 100%; 
    align-items: stretch;
    box-sizing: border-box;
}

button {
    height: 35px;
    margin: 2px;
/*    vertical-align: auto;*/
    box-sizing: border-box;
    border-radius: 12px;
    border-width: 4px;
    border-color: maroon;
    color: black;
    font-size: 20px;
}

button.mode {
height: 35px;
margin: 0px;
text-align: center;
font-size: 18px;
}

button:hover {
border-color: yellow;
color:white;
}

#scientific {
    grid-column-start:3;
    grid-column-end: 5;
    border-color: yellow;
}

#basic {
    grid-column-start:5;
    grid-column-end: 7;
}

#source {
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 8;
}

#deg {
    border-color: yellow;
    }

#rad {
    border-color: maroon;
    }



sup {
    margin: 0;
    padding: 0;
    vertical-align: top; font-size: 0.6em;
}

sub {
    margin: 0;
    padding: 0;
    vertical-align: bottom; font-size: 0.6em;
}

.operator {
/*font-size: 40px;*/
}

#clear {
    grid-column-start:4;
    grid-column-end: 5;
}


.scientific {
display: none;
}

#source {
display: inline;
}


.brackets {
font-size: 20px;
}

#equals {
    grid-column-start:5;
    grid-column-end: 7;
}

